@import "../node_modules/bootstrap/dist/css/bootstrap.css";

 @font-face {
    font-family: AVANTGA2;
    src: url('assets/fonts/ITCAvantGardePro-Md.ttf');
  }

  * {
    font-family: AVANTGA2 !important;
  }

  div[class*="col"] {
    padding-right: 5px;
    padding-left: 5px;
  }